@import "mocha.css";

* {
  font-family: JetBrainsMono;
  font-size:11.7px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 4px 5px;
}

#workspaces {
  border-radius: 0.6rem;
  margin: 5px;
  background-color: @base;
  margin-left: 0.6rem;
}

#workspaces button {
  color: @text;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @overlay1;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @overlay0;
  border-radius: 1rem;
}

#tray,
#network,
#cpu,
#temperature,
#memory,
#backlight,
#clock,
#battery,
#idle_inhibitor,
#bluetooth,
#pulseaudio {
  background-color: @base;
  padding: 0.375rem 0.75rem;
  margin: 5px 0;
}

#bluetooth {
  color: @blue;
}

#clock {
  color: @text;
  border-radius: 0px 0.6rem 0.6rem 0px;
  margin-right: 1rem;
}

#cpu {
  border-radius: 0.6rem 0px 0px 0.6rem;
  color: @peach;
}

#memory {
  border-radius: 0px 0.6rem 0.6rem 0px;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @rosewater;
}

#backlight, #battery {
    border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 0.6rem 0px 0px 0.6rem;
  margin-left: 1rem;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}

#tray {
  margin-right: 0.6rem;
  border-radius: 0.6rem;
}

#temperature {
  color: @yellow;
}

#temperature.critical {
  color: @red;
}

#network {
  color: @blue;
}

#memory {
  color: @green;
}

#idle_inhibitor {
  color: @mauve;
}

#idle_inhibitor.activated {
  color: @maroon;
}
